{% extends '::base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
<h2 style="color: red;">Selamat datang di aplikasi ecommerce lereng.</h2>
<a href="{{ path('oke_page') }}">buka halaman oke</a><br>
<a href="{{ path('category') }}">lihat daftar kategori</a>

{% endblock %}
