{% extends '::base.html.twig' %}

{% block title %}Oke Page{% endblock %}

{% block body %}
<h2>Ini adalah halaman oke</h2>
<a href="{{ path('homepage') }}">kembali ke halaman index</a>
{% endblock %}
